.close {           
    color:#aaaaaa;
    text-shadow: 2px 2px black;
    font-size: 72px;
    float:none;
    
}

.close:hover {
    color:#dddddd!important;
    opacity:0.9!important
}

.close:focus {
    outline: none;
    color:#888888!important;
    opacity: 0.5;
}